
li{
    a{
        margin: 10px;
        font-size: 1.3em;
        font-weight: bold;
        font-family: $font-family-sans-serif;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}

body {
    height: 100vh;
    background-image: url($bg-image);
}

.login-register{
    margin-top: 10%;
    .card{
        //background-color: rgba(230, 184, 115, 0.9);
        background-image: url($imagen-papiro);
        color: black;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 15px;
        //text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
}
