// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-larger: 1.2rem;
$font-size-title: 5rem;
$input-btn-font-size: $font-size-larger;
$dropdown-font-size: $font-size-larger;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #eb150e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $green;
$secondary: #AF8644;
$transparent-secondary: rgba(175, 134, 68, 0.8);

$text-shadow-black: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

$bg-image: "../images/bg.png";
$game-bg: "../images/mapa.jpg";
$imagen-papiro: "../images/papyr.jpg";
$gif-loading: "../images/loading.gif";

$navbar-light-color: black;
$navbar-light-hover-color: $red;

$table-border-color: black;